// variables

// color

$white: #ffffff;
$black: #2E2E2E;

$dark: #110D2F;
$grey: #F8F7FC;
$grey-2: #D9D8E6;

$dark-pink: #E8335D;
$darker-pink: #CC2D52;
$light-pink: #FFCCD8;
$blue: #545073;

// transition

$transition: all .3s ease-in-out;